<body>

<!-- !PAGE CONTENT! -->
<div class="" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="" id="">
    <h1 class=""><b>S H O R T + C U T</b></h1>
  </div>

  <!-- Register employee -->
  <div class="" id="">
    <h1 class=""><b>Registro de negocios.</b></h1>
    <p>Ingresa la información de tu negocio para registrarlo.</p>
    <form action="" method="post" target="_self">
      <div class="">
        <label>Nombre</label>
        <input type="hidden" name="id" value="">
        <input class="" type="text" name="Name" placeholder="Ingresa el nombre del negocio" required>
      </div>
      <div class="">
        <label>Dirección</label>
        <input class="" type="text" name="Address" placeholder="Ingresa la dirección" required>
      </div>
      <button type="submit" class="">Entrar</button>
    </form>  
  </div>

<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="" style="margin-top:75px;padding-right:58px"><p class="">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="">w3.css</a></p></div>

</body>
</html>
