<div class="w3-container w3-content">
    <hr>
    <h1 class="w3-xxlarge w3-text">
        <b>Empleados</b>
    </h1>
    <div class="w3-responsive w3-card-4">
        <!-- Add Employees -->
        Hola
    </div>
    <br>
    <div class="w3-responsive w3-card-4">
        <form method="post" target="_self">
            <input type="hidden" name="id">
            <select name="employee" class='w3-theme w3-block w3-padding-large' required>
            </select>
            <br>
            <button class="w3-button w3-block w3-padding-large w3-black w3-margin-bottom" type="submit">Dar de baja empleado</button>
        </form>
    </div>

    <div class="w3-container">
        <hr>
        <h1 class="w3-xxlarge w3-text" id="">
            <b>Negocios</b>
        </h1>
        <div class="w3-responsive w3-card-4">
            <!-- Add workplaces -->
            hola
        </div>
        <br>

    </div>

    <div class="w3-container">
        <hr>
        <h1 class="w3-xxlarge w3-text" >
            <b>Citas agendadas.</b>
        </h1>
        <div class="w3-responsive w3-card-4">
            <!-- Add appointments -->
            hola
        </div>
        <br>
    </div>
</div>