<div>
    <hr>
    <h1 id="employees">
        <b>Empleados.</b>
    </h1>
    <div>
    </div>
    <br>
    <div>
        <form method="post" target="_self">
            <input type="hidden" name="id">
            <select name="employee" required>
            </select>
            <br>
            <button type="submit">Dar de baja empleado</button>
        </form>
    </div>

    <div class="container">
        <hr>
        <h1 id="workplaces">
            <b>Negocios.</b>
        </h1>
        <div class="card">
        </div>
        <br>

    </div>

    <div class="container">
        <hr>
        <h1 id="appointments">
            <b>Citas agendadas.</b>
        </h1>
        <div class="card">
        </div>

    </div>