<!-- Header with full-height image -->
<header class="w3-display-container w3-wide" id="home">
    <img class="w3-image" src="/assets/img/mockup1.jpg" alt="Fashion Blog" width="1600" height="1060">
    <div class="w3-display-left w3-padding-large w3-black w3-opacity-min">
        <h1 class="w3-text-white w3-wide w3-jumbo" id="main-title">SHORT + CUT </h1>
        <h1 id="main-subtitle" class="w3-large w3-text-white w3-hide-small">
            <b>Hablemos de cortes. </b>
        </h1>
    </div>
</header>

<!-- About Section -->
<div class="w3-container w3-padding-32 w3-light-grey">
    <div id="div-container">
        <h1 class="w3-padding-16" id="main-subtitle">
            <b>Nuestro propósito.</b>
        </h1>
        <p align="justify">SHORT + CUT es un sistema que permite la promoción de una barbería o peluquería, además de agilizar la administración
            interna. Su función principal es mejorar los métodos ortodoxos para programar una cita y publicitar el establecimiento.
            Asimismo, el sistema permite al usuario tener una interacción más cercana con la barbería o peluquería de su
            preferencia, accediendo a la información profesional de cada empleado.
        </p>
    </div>
</div>

<!-- About Section -->
<div class="w3-container w3-center" style="padding:128px 16px" id="about">
    <h1 class="w3-jumbo">
        <b>Características</b>
    </h1>
    <div class="w3-row-padding w3-center" style="margin-top:64px">
        <div class="w3-quarter">
            <i class="fa fa-bolt w3-text-pink w3-jumbo w3-center w3-margin-bottom"></i>
            <p class="w3-xlarge">Rápida</p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-heart w3-text-amber w3-margin-bottom w3-jumbo"></i>
            <p class="w3-xlarge">Amigable</p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-address-book w3-text-blue w3-jumbo w3-margin-bottom"></i>
            <p class="w3-xlarge">No más agendas</p>
        </div>
        <div class="w3-quarter">
            <i class="fab fa-android w3-text-green w3-margin-bottom w3-jumbo"></i>
            <p class="w3-xlarge">Disponible para Android</p>
        </div>
    </div>
</div>

<!-- Pricing Section -->
<div class="w3-padding-64 w3-center w3-light-grey">
    <h1 class="w3-jumbo">
        <b>Precios</b>
    </h1>
    <p class="w3-xlarge">Escoge el plan que se ajuste a tus necesidades.</p>
    <div class="w3-row-padding" style="margin-top:64px">
        <div class="w3-half w3-section">
            <ul class="w3-ul w3-card w3-hover-shadow">
                <li class="w3-black w3-xlarge w3-padding-32">
                    <b>PAQUETE Básico</b>
                </li>
                <li class="w3-padding-16 w3-white">
                    Agendar citas</li>
                <li class="w3-padding-16 w3-white" id="line-through">
                    Administración de negocio</li>
                <li class="w3-padding-16 w3-white">
                    <h2>$ 100.00 m.n.</h2>
                </li>
                <li class="w3-white w3-padding-24">
                    <button class="w3-button w3-black w3-padding-large" onclick="document.getElementById('download').style.display='block'">
                        Registrarse</button>
                </li>
            </ul>
        </div>
        <div class="w3-half w3-section">
            <ul class="w3-ul w3-card w3-hover-shadow">
                <li class="w3-black w3-xlarge w3-padding-32">
                    <b>PAQUETE Premium</b>
                </li>
                <li class="w3-padding-16 w3-white">
                    Agendar citas</li>
                <li class="w3-padding-16 w3-white">
                    Administración de negocio</li>
                <li class="w3-padding-16 w3-white">
                    <h2>$ 250.00 m.n.</h2>
                </li>
                <li class="w3-white w3-padding-24">
                    <button class="w3-button w3-disabled w3-black w3-padding-large" onclick="document.getElementById('download').style.display='block'">
                        Próximamente</button>
                </li>
            </ul>
        </div>
    </div>
    <br>
</div>