<!-- Header with full-height image -->
<header class="w3-display-container w3-wide" id="home">
    <img class="w3-image" src="/assets/img/mockup1.jpg" alt="Fashion Blog" width="1600" height="1060">
    <div class="w3-display-left w3-padding-large w3-black w3-opacity-min">
        <h1 class="w3-text-white w3-wide w3-jumbo" id="main-title">SHORT + CUT </h1>
        <h1 id="main-subtitle" class="w3-large w3-text-white w3-hide-small">
            <b>Estamos bien vergas. </b>
        </h1>
    </div>
</header>

<!-- About Section -->
<div class="w3-container w3-padding-32 w3-light-grey">
    <div id="div-container">
        <h1 class="w3-padding-16" id="main-subtitle">
            <b>Nuestro propósito.</b>
        </h1>
        <p align="justify">SHORT + CUT es un sistema que permite la promoción de una barbería o peluquería, además de agilizar la administración
            interna. Su función principal es mejorar los métodos ortodoxos para programar una cita y publicitar el establecimiento.
            Asimismo, el sistema permitirá al usuario tener una interacción más cercana con la barbería o peluquería de su
            preferencia, accediendo a la información profesional de cada empleado.
        </p>
    </div>
</div>

<!-- Features Section -->
<div class="w3-container w3-padding-64 w3-center">
    <h1 class="w3-jumbo">
        <b>Características</b>
    </h1>
    <p>Lo que te ofrecemos.</p>

    <div class="w3-row" style="margin-top:64px">
        <div class="w3-col s3">
            <i class="fa fa-bolt w3-text-pink w3-jumbo"></i>
            <p>Rápida</p>
        </div>
        <div class="w3-col s3">
            <i class="fa fa-smile w3-text-amber w3-jumbo"></i>
            <p>Amigable</p>
        </div>
        <div class="w3-col s3">
            <i class="fa fa-address-book w3-text-blue w3-jumbo"></i>
            <p>No más agendas </p>
        </div>
        <div class="w3-col s3">
            <i class="fab fa-android w3-text-green w3-jumbo"></i>
            <p>Disponible en Android</p>
        </div>
    </div>
</div>

<!-- Pricing Section -->
<div class="w3-padding-64 w3-center w3-light-grey">
    <h1 class="w3-jumbo">
        <b>Precios</b>
    </h1>
    <p class="w3-large">Escoge el plan que se ajauste a tus necesidades.</p>
    <div class="w3-row-padding" style="margin-top:64px">
        <div class="w3-half w3-section w3-white">
            <ul class="w3-ul w3-card w3-hover-shadow">
                <li class="w3-dark-grey w3-xlarge w3-padding-32">PAQUETE Básico</li>
                <li class="w3-padding-16">
                    Agendar citas</li>
                <li class="w3-padding-16">
                    <h2 class="w3-opacity">$ 100.00 m.n.</h2>
                </li>
                <li class="w3-white w3-padding-24">
                    <button class="w3-button w3-black w3-padding-large" onclick="document.getElementById('download').style.display='block'">
                        Registrarse</button>
                </li>
            </ul>
        </div>
        <div class="w3-half w3-section w3-white">
            <ul class="w3-ul w3-card w3-hover-shadow">
                <li class="w3-black w3-xlarge w3-padding-32">PAQUETE Premium</li>
                <li class="w3-padding-16">
                    Agendar citas</li>
                <li class="w3-padding-16">
                    Administración de negocio</li>
                <li class="w3-padding-16">
                    <h2 class="w3-opacity">$ 250.00 m.n.</h2>
                </li>
                <li class="w3-white w3-padding-24">
                    <button class="w3-button w3-black w3-padding-large" onclick="document.getElementById('download').style.display='block'">
                        Próximamente</button>
                </li>
            </ul>
        </div>
    </div>
    <br>
</div>

<!-- Contact Section -->
<div class="w3-container w3-light-grey" style="padding:128px 16px" id="contact">
    <h3 class="w3-center">CONTACT</h3>
    <p class="w3-center w3-large">Lets get in touch. Send us a message:</p>
    <div class="w3-row-padding" style="margin-top:64px">
        <div class="w3-half">
            <p>
                <i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Chicago, US</p>
            <p>
                <i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +00 151515</p>
            <p>
                <i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: mail@mail.com</p>
            <br>
            <form action="/action_page.php" target="_blank">
                <p>
                    <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
                </p>
                <p>
                    <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
                </p>
                <p>
                    <input class="w3-input w3-border" type="text" placeholder="Subject" required name="Subject">
                </p>
                <p>
                    <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
                </p>
                <p>
                    <button class="w3-button w3-black" type="submit">
                        <i class="fa fa-paper-plane"></i> SEND MESSAGE
                    </button>
                </p>
            </form>
        </div>
        <div class="w3-half">