<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button  w3-left w3-hide-large w3-hide-medium" onclick="w3_open()">☰</a>
    <a href="#home" class="w3-bar-item w3-button w3-wide">SHORT + CUT</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
      <a href="#team" class="w3-bar-item w3-button">TEAM</a>
      <a href="#work" class="w3-bar-item w3-button">WORK</a>
      <a href="#pricing" class="w3-bar-item w3-button">PRICING</a>
      <a href="#contact" class="w3-bar-item w3-button">CONTACT</a>
    </div>
    <div class="w3-right w3-bar-item w3-wide w3-left w3-hide-small">Hola, Felipe Ortega</div>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <!-- <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a> -->
  <br>
  <div class="w3-bar-item w3-wide">Hola, Felipe Ortega</div>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
  <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
  <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
  <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a>
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
</nav>

<div class="main-content">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="w3-padding-32 w3-black w3-small w3-center" id="footer">
  <div class="w3-row-padding">
    <div class="w3-third">
      <br>
      <img id="logo" src="/assets/img/logo.png">
    </div>

    <div class="w3-third w3-left-align">
      <h4>Acerca de</h4>
      <p>SHORT + CUT es un proyecto para la 30va edición de la Expo Ingeniería de CETYS Universidad Campus Ensenada.</p>
      <p>Powered by
        <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
      </p>
    </div>

    <div class="w3-third w3-justify">
      <h4>Contacto</h4>
      <p>
        <i class="fa fa-fw fa-map-marker"></i>&nbsp;Ensenada, Baja California, MX.</p>
      <p>
        <i class="fa fa-fw fa-phone"></i>&nbsp;Tel: +52 (646) 162-46-63</p>
      <p>
        <i class="fa fa-fw fa-envelope"></i>&nbsp;expoingenieriacetys@gmail.com</p>
    </div>
  </div>
</footer>