<div>

  <!-- Register owner -->
  <div>
    <h1 class="w3-xxlarge w3-text"><b>Registro</b></h1>
    <p>Ingresa tu información para registrarte.</p>
      <div class="w3-section">
        <label>Nombre</label>
        <input class="w3-input w3-border" type="text" name="Name"  [(ngModel)]="owner.firstName" placeholder="Ingresa tu nombre" required>
      </div>
      <div class="w3-section">
        <label>Apellidos</label>
        <input class="w3-input w3-border" type="text" name="LastName" [(ngModel)]="owner.lastName" placeholder="Ingresa tus apellidos" required>
      </div>
      <div class="w3-section">
        <label>Teléfono</label>
        <input class="w3-input w3-border"  type="text" name="Phone" [(ngModel)]="owner.phoneNumber" placeholder="Ingresa tu número de teléfono" required>
      </div>
      <div class="w3-section">
        <label>Correo electrónico</label>
        <input class="w3-input w3-border" type="text" name="Email" [(ngModel)]="user.email" placeholder="Ingresa tu dirección de correo electrónico" required>
      </div>
      <div class="w3-section">
        <label>Contraseña</label>
        <input class="w3-input w3-border" type="password" [(ngModel)]="user.password" placeholder="Ingresa tu contraseña"  required>
      </div>
      <div class="w3-section">
        <label>Repite contraseña</label>
        <input class="w3-input w3-border" type="password" [(ngModel)]="password" name="Password2" placeholder="Ingresa tu contraseña otra vez" required>
        <div id="nameValidation" class="validation-image"></div>
      </div>  
      <button type="submit" class="w3-button w3-block w3-padding-large w3-black w3-margin-bottom" (click)="addOwner()">Registrar</button>  
  </div>

</div>