<div>
  <div>
    <h1 ><b>S H O R T + C U T</b></h1>
  </div>

  <!-- Register owner -->
  <div>
    <h1><b>Registro.</b></h1>
    <p>Ingresa tu información para registrarte.</p>
      <div>
        <label>Nombre</label>
        <input type="text" name="Name" ([ngModel])="owner.firstName" placeholder="Ingresa tu nombre" required>
      </div>
      <div>
        <label>Apellidos</label>
        <input type="text" name="LastName" ([ngModel])="owner.lastName" placeholder="Ingresa tus apellidos" required>
      </div>
      <div>
        <label>Teléfono</label>
        <input type="text" name="Phone" ([ngModel])="owner.phoneNumber" placeholder="Ingresa tu número de teléfono" required>
      </div>
      <div>
        <label>Correo electrónico</label>
        <input type="text" name="Email" ([ngModel])="user.email" placeholder="Ingresa tu dirección de correo electrónico" required>
      </div>
      <div>
        <label>Contraseña</label>
        <input type="password" ([ngModel])="user.password" placeholder="Ingresa tu contraseña"  required>
      </div>
      <div>
        <label>Repite contraseña</label>
        <input type="password" ([ngModel])="password" name="Password2" placeholder="Ingresa tu contraseña otra vez" required>
        <div id="nameValidation" class="validation-image"></div>
      </div>  
      <button (click)="addOwner()">Registrar</button>  
  </div>

</div>