
<body>

  <!-- Login owner -->
  <div id="login">
    <h1><b>Inicio de sesión.</b></h1>
      <div>
        <label>Correo electrónico</label>
        <input type="email" name="Email" [(ngModel)]="user.email" placeholder="Ingresa tu dirección de correo electrónico" required>
      </div>
      <div>
        <label>Contraseña</label>
        <input type="password" name="Password" [(ngModel)]="user.password" placeholder="Ingresa tu contraseña" required>
      </div>
      <button (click)="login()">Ingresar</button>
    <p>No estas registrado? <a>Registrate Aquí</a>!</p>
  </div>


</body>

